body{ margin: 0; color: black; background-color: #EFEFEF; }
.icon { width: 1em; height: 1em; vertical-align: -0.15em; fill: currentColor; overflow: hidden; }
.clearfix::after{ content: ""; display: block; clear: both; }
h1,h2,h3,h4,h5{ font-weight: normal; }
a{ text-decoration: none; color: black; }
ol,ul{ list-style: none; margin: 0; padding: 0; }
hr{ border:none; border-top: 1px solid #DEDEDE; }
*{ margin: 0px; padding: 0px; }
.logo{ float: left; }
.topNavBar-inner ul a{ font-size: 12px; color: #B7B7B7; border-bottom:7px solid transparent; font-weight: bold;
    padding-top: 5px; padding-bottom: 5px; display: block; border-top: 7px solid transparent; }
.topNavBar-inner li{ float: right; margin-left: 17px; margin-right: 17px; }
.topNavBar ul a:hover{ border-bottom:3px solid #e06567;}
.topNavBar .logo{ font-size: 24px; font-family: "Arial Black"; border-top: 3px solid transparent; border-bottom: 3px solid transparent; }
.logo .rs{ margin-right:4px; color: #e6686a; }
.logo .card{ color: #9A9DA2; }
.topNavBar{ padding: 19px 0px 19px 0px; position: fixed; top:0; left: 0; width: 100%; }
.topNavBar-inner{ padding: 0 16px; }
.banner{ background-image:url(../rs-cover.jpg); height:515px; background-position: center; background-size: cover; }
.banner .mask{ height:515px; background-color: rgba(0, 0, 0, 0.5) }
.usercard{ max-width: 940px; margin-left: auto; margin-right: auto; background-color: white; box-shadow: 0px 1px 5px 0px rgba(0,0,0,0.5); }
.welcome{ background: #e6686a; color: white; padding: 4px 16px; position: relative; display: inline-block; margin-bottom: 10px; }
.triangle{ border:10px solid transparent; width:0px; border-top-width:0px; border-left-color:#e6686a; display: block; position: absolute; left: 5px; bottom: -10px; }
main{ margin-top: -340px; }
.usercard .text{ float: left; margin-left: 65px; width: 470px; }
.usercard .picture{ float: left; }
.media{ background-color: #e6686a; text-align: center; }
.top{ padding: 50px;}
.top h1{ margin: 18px 0;}
.text hr{ margin: 20px 0; }
.text dt, .text dd{ float: left; padding: 5px 0; }
.text dt{ width: 30%; font-weight: bolder; }
.text dd{ width: 70%; color:#B7B7B7; }
.media svg{ width: 30px; height: 30px; fill: white; vertical-align: top; }
.media a{ display: inline-block; border-radius: 50%; width: 40px; margin: 20px 20px; padding: 5px 0; }
.media a:hover{ background-color: #CF5D5F;}
 main .button{ font-size: 14px; line-height: 16px; padding: 21px 55px; display: inline-block; border: 1px solid #CDCFD1; background-color: #EFEFEF;
    border-radius: 2px; color: #3d4451; font-weight: bolder; margin: 30px; }
.buttonbox{ text-align: center; }
main .button:hover{ box-shadow: 0px 9px 22px 3px rgba(26,25,26,0.5); transition: 0.4s linear; }
.introduce{ margin-left: auto; margin-right: auto; max-width:940px ; text-align: center; font-family: kai; font-size: 18px; line-height: 1.8; }
.skills, .portfolio{ margin-left: auto; margin-right: auto; max-width:940px ; color: #3d4451; margin-top:60px; }
.skills>h2, .portfolio>h2{ text-align: center; color: #3d4451; font-size: 30px; line-height: 1.2; }
.skills ol{ border: 1px solid #CDCFD1; background-color: #EFEFEF; box-shadow: 0px 1px 5px 0px rgba(0,0,0,0.5); padding: 42px 50px 10px; margin-top: 30px; }
.skills .progressBar{ background-color: #fae1e1; height: 3px; border-radius: 2px; margin: 4px 0 40px; }
.skills .progress{ height: 100%; /* 没有height高度不显示 */ background-color: #e6686a; width: 50%; }
.skills li{ float: left; width: 48%; box-sizing: border-box; /* border算在盒模型里面 */ padding-right: 30px; }
.skills li:nth-child(even){ float: right; }
.skills h3{ color: #3d4451; font-size: 14px; line-height: 1.1; padding-right: 30px; }
.portfolio{ text-align: center; }
.portfolio li{ float: left; margin: 0 30px; cursor: pointer; }
.portfolio nav{ text-align: center; /* ol是内联元素，居中，但整个文字会靠右，右边的margin要去掉 */ display: inline-block; vertical-align: top; /* 为了让bar居中，把bar父元素变成行内 */ }
.portfolio li:first-child{ margin-left: 0; }
.portfolio li:last-child{ margin-right: 0; }
.topNavBar nav{ display: inline-block; vertical-align: top; float: right; }
.portfolio .bar{ height: 5px; margin-bottom: 30px; background-color: #fff; border-radius: 2px; }
.portfolio ol{ margin: 34px 0 0; display: inline-block; vertical-align: top/* display:inline-block必须加,不然会出现bug，盒子下方空隙会大一些。 */
    /* margin: auto 0, 需要width才能居中 */ }
.portfolio .bar>.inner{ height: 100%; border-radius: 2px; background-color: #e6686a; transition: 0.2s linear; }
.portfolio .bar.status-1>.inner{ width: 20%; margin-left: 0; }
.portfolio .bar.status-2>.inner{ width: 30%; margin-left: 70px; }
.portfolio .bar.status-3>.inner{ width: 40%; margin-left: 170px; }
.portfolio .works{ position: relative; margin-bottom: 50px; }
.portfolio .big, .portfolio .small{ position: absolute;transition:infinit lin }
